[submodule "alloy"]
	path = alloy
	url = https://github.com/alloy-rs/alloy.git
[submodule "archive-cosmos-sdk-snapshot"]
	path = archive-cosmos-sdk-snapshot
	url = https://github.com/caelum0x/cosmos-sdk.git
[submodule "artemis"]
	path = artemis
	url = https://github.com/paradigmxyz/artemis.git
[submodule "claw-wallet-mobile"]
	path = claw-wallet-mobile
	url = https://github.com/chainapsis/oko.git
[submodule "cryo"]
	path = cryo
	url = https://github.com/paradigmxyz/cryo.git
[submodule "dantegpu-core"]
	path = dantegpu-core
	url = https://github.com/dante-gpu/dantegpu-core.git
[submodule "data-portal"]
	path = data-portal
	url = https://github.com/paradigmxyz/paradigm-data-portal.git
[submodule "flood"]
	path = flood
	url = https://github.com/paradigmxyz/flood.git
[submodule "flux"]
	path = flux
	url = https://github.com/paradigmxyz/flux.git
[submodule "keplr-chain-registry"]
	path = keplr-chain-registry
	url = https://github.com/chainapsis/keplr-chain-registry.git
[submodule "keplr-wallet"]
	path = keplr-wallet
	url = https://github.com/chainapsis/keplr-wallet.git
[submodule "openclaw"]
	path = openclaw
	url = https://github.com/caelum0x/openclaw.git
[submodule "rivet"]
	path = rivet
	url = https://github.com/paradigmxyz/rivet.git
[submodule "solar"]
	path = solar
	url = https://github.com/paradigmxyz/solar.git
[submodule "viem"]
	path = viem
	url = https://github.com/wevm/viem.git
[submodule "wagmi"]
	path = wagmi
	url = https://github.com/wevm/wagmi.git
