SERVER_PORT=3203

NEXT_PUBLIC_OKO_API_ENDPOINT=http://localhost:4200
NEXT_PUBLIC_OKO_DEMO_ENDPOINT=https://clawchain.io/demo
NEXT_PUBLIC_OKO_DOCS_ENDPOINT=https://clawchain.io/docs
NEXT_PUBLIC_OKO_FEATURE_REQUEST_ENDPOINT=https://okowallet.userjot.com/board/feature-requests
NEXT_PUBLIC_OKO_GET_SUPPORT_ENDPOINT=https://okowallet.userjot.com/board/integration-support-inquiries
